<div class="container">
<h4 class="center-align">Swarmbot Status</h4>

<p>This page displays real-time data and status updates from the swarmbot as it traverses dangerous terrain. This allows first responders to assess the scene from a distance.

<table class="hoverable">
  <thead>
    <tr>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td class="center-align"><%= link_to '', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdi-action-delete"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
